# Compilación de Angular
/dist
/tmp
/out-tsc

# Dependencias
/node_modules

# Archivos de depuración
npm-debug.log
yarn-error.log

# Compilaciones de cobertura de tests
/coverage

# Configuración de IDEs
.vscode/
/.idea/
/*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno locales
/src/environments/environment*.ts

# Builds de producción locales
/build

# Archivos temporales
*.tgz
*.lock
package-lock.json
yarn.lock
